/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Reset fils
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    scroll-behavior: smooth;
}

* {
    scroll-behavior: smooth;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
    font-size: 100%;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -ms-text-size-adjust: 100%;
    /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
    border: 0;
    /* 1 */
    -ms-interpolation-mode: bicubic;
    /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
    border: 0;
    /* 1 */
    padding: 0;
    white-space: normal;
    /* 2 */
    *margin-left: -7px;
    /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
    font-size: 100%;
    /* 1 */
    margin: 0;
    /* 2 */
    vertical-align: baseline;
    /* 3 */
    *vertical-align: middle;
    /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
    *overflow: visible;
    /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
    *height: 13px;
    /* 3 */
    *width: 13px;
    /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
    -webkit-appearance: textfield;
    /* 1 */
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
    overflow: auto;
    /* 1 */
    vertical-align: top;
    /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@font-face {
    font-family: "JosefinSans-Light";
    src: url("../fonts/JosefinSans-Light.ttf");
}

@font-face {
    font-family: "JosefinSans-Regular";
    src: url("../fonts/JosefinSans-Regular.ttf");
}

@font-face {
    font-family: "JosefinSans-Meduim";
    src: url("../fonts/JosefinSans-Medium.ttf");
}

body {
    position: relative;
    height: 100vh;
    font-family: "JosefinSans-Light";
}

body * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.loading-page {
    position: fixed;
    height: 100%;
    width: 100%;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 5000000000000;
}

.loader {
    position: relative;
    width: 164px;
    height: 164px;
}

.loader::before,
.loader::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #0c0c0c;
    left: 50%;
    top: 50%;
    -webkit-animation: rotate 1s ease-in infinite;
    animation: rotate 1s ease-in infinite;
}

.loader::after {
    width: 20px;
    height: 20px;
    background-color: #FF3D00;
    -webkit-animation: rotate 1s ease-in infinite, moveY 1s ease-in infinite;
    animation: rotate 1s ease-in infinite, moveY 1s ease-in infinite;
}

@-webkit-keyframes moveY {

    0%,
    100% {
        top: 10%;
    }

    45%,
    55% {
        top: 59%;
    }

    60% {
        top: 40%;
    }
}

@keyframes moveY {

    0%,
    100% {
        top: 10%;
    }

    45%,
    55% {
        top: 59%;
    }

    60% {
        top: 40%;
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: translate(-50%, -100%) rotate(0deg) scale(1, 1);
        transform: translate(-50%, -100%) rotate(0deg) scale(1, 1);
    }

    25% {
        -webkit-transform: translate(-50%, 0%) rotate(180deg) scale(1, 1);
        transform: translate(-50%, 0%) rotate(180deg) scale(1, 1);
    }

    45%,
    55% {
        -webkit-transform: translate(-50%, 100%) rotate(180deg) scale(3, 0.5);
        transform: translate(-50%, 100%) rotate(180deg) scale(3, 0.5);
    }

    60% {
        -webkit-transform: translate(-50%, 100%) rotate(180deg) scale(1, 1);
        transform: translate(-50%, 100%) rotate(180deg) scale(1, 1);
    }

    75% {
        -webkit-transform: translate(-50%, 0%) rotate(270deg) scale(1, 1);
        transform: translate(-50%, 0%) rotate(270deg) scale(1, 1);
    }

    100% {
        -webkit-transform: translate(-50%, -100%) rotate(360deg) scale(1, 1);
        transform: translate(-50%, -100%) rotate(360deg) scale(1, 1);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: translate(-50%, -100%) rotate(0deg) scale(1, 1);
        transform: translate(-50%, -100%) rotate(0deg) scale(1, 1);
    }

    25% {
        -webkit-transform: translate(-50%, 0%) rotate(180deg) scale(1, 1);
        transform: translate(-50%, 0%) rotate(180deg) scale(1, 1);
    }

    45%,
    55% {
        -webkit-transform: translate(-50%, 100%) rotate(180deg) scale(3, 0.5);
        transform: translate(-50%, 100%) rotate(180deg) scale(3, 0.5);
    }

    60% {
        -webkit-transform: translate(-50%, 100%) rotate(180deg) scale(1, 1);
        transform: translate(-50%, 100%) rotate(180deg) scale(1, 1);
    }

    75% {
        -webkit-transform: translate(-50%, 0%) rotate(270deg) scale(1, 1);
        transform: translate(-50%, 0%) rotate(270deg) scale(1, 1);
    }

    100% {
        -webkit-transform: translate(-50%, -100%) rotate(360deg) scale(1, 1);
        transform: translate(-50%, -100%) rotate(360deg) scale(1, 1);
    }
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: 100%;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-row-gap: 25px;
    background: #FFFFFF;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.title__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    background: #ffffff;
    padding: 25px 35px;
    flex: none;
    border-radius: 0.5rem;
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 5000;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.title__section h1 {
    font-family: "JosefinSans-Meduim";
    color: #000000;
    font-style: italic;
    text-align: center;
    font-size: 0.8rem;
}

.container__members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    padding: 25px;
    gap: 50px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 150px;
}

.member__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 220px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: white;
    padding: 40px 15px;
    border-radius: 0.2rem;
    grid-row-gap: 100px;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.member__card .profil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 200px;
    background: white;
    border-radius: 0.2rem;
    position: relative;
}

.member__card .profil::after {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-25px);
    -ms-transform: translateX(-50%) translateY(-25px);
    transform: translateX(-50%) translateY(-25px);
    background: rgba(0, 0, 0, 0.1);
    height: 10px;
    width: 50px;
    z-index: 50;
    border-radius: 0.2rem;
}

.member__card .profil img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 0.2rem;
    overflow: hidden;
}

.member__card .profil .contry__member {
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 250px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    font-family: "JosefinSans-Meduim";
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    color: #FFFFFF;
    font-size: 0.8rem;
    line-height: 1.3rem;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.member__card .profil .contry__member .others__infos {
    position: absolute;
    overflow: hidden;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    opacity: 0;
    grid-row-gap: 15px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.member__card .profil .contry__member .others__infos .infos {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
}

.member__card .profil .contry__member .others__infos .infos svg {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 1.2rem;
    width: 1.2rem;
}

.member__card .profil .contry__member .others__infos .infos .infos-title {
    color: white;
    font-family: "JosefinSans-Light";
    font-size: 0.8rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    text-transform: none;
}

.member__card .profil .contry__member:hover {
    width: 91%;
}

.member__card .profil .contry__member:hover .others__infos {
    -webkit-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    opacity: 1;
}

.member__card .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-row-gap: 15px;
}

.member__card .details .name_member {
    font-family: "JosefinSans-Meduim";
    color: #000000;
    font-size: 1.2rem;
}

.member__card .details .skill_member {
    font-family: "JosefinSans-Regular";
    color: #000000;
    font-size: 0.9rem;
    opacity: 0.3;
}

.copy {
    margin-bottom: 50px;
}

.bg-1 .profil .contry__member {
    background: rgba(247, 82, 60, 0.7) !important;
}

.bg-2 .profil .contry__member {
    background: rgba(66, 160, 255, 0.7) !important;
}

.bg-3 .profil .contry__member {
    background: rgba(195, 121, 242, 0.7) !important;
}

.bg-4 .profil .contry__member {
    background: rgba(30, 195, 139, 0.7) !important;
}

.bg-5 .profil .contry__member {
    background: rgba(29, 41, 62, 0.7) !important;
}

.bg-6 .profil .contry__member {
    background: rgba(136, 1, 56, 0.7) !important;
}

.bg-7 .profil .contry__member {
    background: rgba(0, 36, 126, 0.7) !important;
}

.bg-8 .profil .contry__member {
    background: rgba(55, 1, 2, 0.7) !important;
}
